# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
env/
venv/
.venv/

# Streamlit cache
.streamlit/

# Dataset files (jika besar atau sensitif)
*.csv
*.xlsx
*.json

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env